.container {
  position: relative;
  /* change width and height */
  width: 320px;
  height: 180px;
}
#age {
  position: absolute;
  /* change position */
  top: 11px;
  right: 19px;
  
  /* change font style */
  color: #FFF;
  text-align: right;
  font-family: 'Proxima Nova Condensed';
  font-size: 8.645px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#text-box {
  position: absolute;
  bottom: 28px;
  left: 20px;
  width: 177.289px;

  color: #FFF;
  font-family: 'Proxima Nova Condensed';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.5%; /* 11.85px */
}
#logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 13px;
  left: 20px;
  width: 169px;
}

.main-content-title {
  color: #FFF;
  font-family: 'Proxima Nova Condensed';
  font-size: 28.465px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 25.619px */
  margin-bottom: 9px;
}

.notification {
  background-color: #fff;
  border-radius: 10px;
}

.notification-content {
  padding: 8px;
  display: flex;
  align-items: center;
}

.notification-logo {
  display: flex;
}

.notification-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notification-header {
  display: flex;
  justify-content: space-between;
}

.notification-title {
  font-family: 'Inter';
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 6.733px;
  font-style: normal;
  font-weight: 600;
  line-height: 8.867px; /* 131.698% */
  letter-spacing: -0.177px;
}

.notification-time {
  font-family: 'Inter';
  color: rgba(127, 127, 127, 0.5);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 5.891px;
  font-style: normal;
  font-weight: 400;
  line-height: 8.867px; /* 150.512% */
}

.notification-desc {
  font-family: 'Inter';
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 6.733px;
  font-style: normal;
  font-weight: 400;
  line-height: 8.867px; /* 131.698% */
  letter-spacing: -0.177px;
}
