#logo {
  position: absolute;
  width: 158px;
  height: 158px;
  top: calc(50% - 79px);
  left: calc(50% - 79px);

  z-index: 10;

  animation: 0.7s logoScale 1s ease forwards reverse,
    0.7s logoScale 15s ease forwards;
}

@keyframes logoScale {
  0% {
    top: 30px;
    left: 0px;
    width: 60px;
    height: 60px;
  }
  100% {
    width: 158px;
    height: 158px;
    top: calc(50% - 79px);
    left: calc(50% - 79px);
  }
}

@keyframes showScreen {
  0% {
    width: 0;
    height: 0;
    border-radius: 0 0 100% 0;
  }
  50% {
    height: 100%;
  }

  99% {
    width: 100%;
    height: 100%;
  }

  100% {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d6001c;
  animation: 0.7s showScreen 1s ease forwards reverse,
    1s showScreen 15s ease forwards;
  z-index: 8;
}

#content-text {
  position: absolute;
  top: 106px;
  left: 0px;
  color: #fff;
  width: 523px;

  font-family: "Proxima Nova Condensed";
  font-size: 52px;
  font-weight: 700;
  line-height: 49.4px;
  text-align: left;
  z-index: 7;
}

#age {
  position: absolute;
  bottom: 12px;
  left: 0px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 15px;
  font-weight: 400;
  line-height: 18.27px;
  text-align: right;

  /* z-index: 10; */
}
#disclaimer {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 460px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 9px;
  font-weight: 400;
  line-height: 10.96px;
  text-align: left;

  /* z-index: 10; */
}

#content-text {
  opacity: 0;
  animation: 0.7s showBox 2s ease forwards;
}

#dummy {
  opacity: 0;
  animation: dummyAnimation 15s ease forwards;
}

@keyframes showPhone {
  0% {
    transform: translateY(65%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dummyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#phone {
  height: 517px;
}

#rating-box {
  position: absolute;
  top: 130px;
  opacity: 0;
  transform: rotate(-9deg) scale(0.4);

  animation: 1s rating-box 4s ease forwards;
}

@keyframes rating-box {
  0% {
    opacity: 0;
    transform: rotate(-9deg) scale(0.4);
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: rotate(-9deg) scale(1);
    opacity: 1;
    top: 167px;
  }
}

#phone-container {
  position: relative;
  width: 313px;
  height: 487px;
  right: -473px;
  top: -38px;

  transform: translateY(65%);

  animation: 0.7s showPhone 3s ease forwards;
}

@keyframes showPhone {
  0% {
    transform: translateY(65%);
  }
  100% {
    transform: translateY(0);
  }
}

.rc {
  width: 311.22px;
  padding: 12px 21px 23px 16px;
  background: #ffffff;
  box-shadow: 0px 6.63015px 17.3404px rgba(112, 144, 176, 0.26);
  border-radius: 24.4806px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#rtng {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 9.41px;
}

#stars > img {
  width: 37.64px;
  height: 37.64px;
  margin-right: 5px;
}

#stars > img:last-child {
  margin-right: 0;
}

#strs-count {
  font-family: "Proxima Nova Condensed";
  font-weight: 600;
  font-size: 37.64px;
  line-height: 51.8px;
  color: black;
}

#votes-count {
  margin-top: 3px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 17.0825px;
  line-height: 20px;
  color: #0070ff;
}
