.container {
  position: relative;
  /* change width and height */
  width: 2800px;
  height: 250px;
}
#age {
  position: absolute;
  /* change position */
  top: 22px;
  right: 760px;

  /* change font style */
  color: #FFF;
  text-align: right;
  font-family: "Proxima Nova Condensed";
  font-size: 37.359px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#text-box {
  position: absolute;
  bottom: 50px;
  left: 950px;
  width: 645.32px;

  color: #fff;
  font-family: "Proxima Nova Condensed";
  font-size: 27.02px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.5%; /* 29.857px */
}
#logo {
  position: absolute;
  top: 48px;
  left: 760px;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 34px;
  left: 962px;
  width: 384px;
}

/* Работа в паре кликов */
.main-content-title {
  color: #fff;
  font-family: "Proxima Nova Condensed";
  font-size: 100.981px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 90.883px */
  width: 587.594px;
}

.notification {
  background-color: #fff;
  border-radius: 10px;
}

.notification-content {
  padding: 8px;
  display: flex;
  align-items: center;
}

.notification-logo {
  display: flex;
}

.notification-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notification-header {
  display: flex;
  justify-content: space-between;
}

/* hh работа */
.notification-title {
  font-family: "Inter";
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12.624px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.712px; /* 132.378% */
}

/* только что */
.notification-time {
  font-family: "Inter";
  color: rgba(127, 127, 127, 0.5);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 11.168px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.712px; /* 149.644% */
}

/* Вас приглашают на вакансию */
.notification-desc {
  font-family: "Inter";
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12.624px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.712px; /* 132.378% */
}
