.container {
  position: relative;
  /* change width and height */
  width: 336px;
  height: 280px;
}
#age {
  position: absolute;
  /* change position */
  top: 20px;
  right: 20px;

  /* change font style */
  color: #fff;
  text-align: right;
  font-family: "Proxima Nova Condensed";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#text-box {
  position: absolute;
  bottom: 5px;
  left: 28px;
  width: 261px;

  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%; /* 9.72px */
}
#logo {
  position: absolute;
  top: 28px;
  left: 28px;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 68px;
  left: 28px;
  width: 197px;
}

/* Работа в паре кликов */
.main-content-title {
  color: #fff;
  font-family: "Proxima Nova Condensed";
  font-size: 33.199px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 29.879px */

  margin-bottom: 14px;
}

.notification {
  background-color: #fff;
  border-radius: 10px;
}

.notification-content {
  padding: 9px;
  display: flex;
  align-items: center;
}

.notification-logo {
  display: flex;
}

.notification-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notification-header {
  display: flex;
  justify-content: space-between;
}

/* hh работа */
.notification-title {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter";
  font-size: 7.852px;
  font-style: normal;
  font-weight: 600;
  line-height: 10.341px; /* 131.698% */
  letter-spacing: -0.207px;
}

/* только что */
.notification-time {
  font-family: "Inter";
  color: rgba(127, 127, 127, 0.5);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 6.871px;
  font-style: normal;
  font-weight: 400;
  line-height: 10.341px; /* 150.512% */
}

/* Вас приглашают на вакансию */
.notification-desc {
  font-family: "Inter";
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 7.852px;
  font-style: normal;
  font-weight: 400;
  line-height: 10.341px; /* 131.698% */
  letter-spacing: -0.207px;
}
