#logo {
  position: absolute;
  width: 120px;
  height: 120px;
  top: calc(50% - 60px);
  left: calc(50% - 60px);

  z-index: 10;

  animation: 0.7s logoScale 1s ease forwards reverse,
    0.7s logoScale 15s ease forwards;
}

@keyframes logoScale {
  0% {
    top: 40px;
    left: 40px;
    width: 100px;
    height: 100px;
  }
  100% {
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
  }
}

@keyframes showScreen {
  0% {
    width: 0;
    height: 0;
    border-radius: 0 0 100% 0;
  }
  50% {
    height: 100%;
  }

  99% {
    width: 100%;
    height: 100%;
  }

  100% {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d6001c;
  animation: 0.7s showScreen 1s ease forwards reverse,
    1s showScreen 15s ease forwards;
  z-index: 8;
}

#content-text {
  position: absolute;
  top: 56px;
  left: 180px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 64px;
  font-weight: 700;
  line-height: 60.8px;
  text-align: left;

  z-index: 7;
}

#age {
  position: absolute;
  bottom: 7px;
  right: 14px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 24px;
  font-weight: 400;
  line-height: 29.23px;
  text-align: right;

  /* z-index: 10; */
}
#disclaimer {
  position: absolute;
  bottom: 39px;
  left: 180px;
  width: 907px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 22px;
  font-weight: 400;
  line-height: 24.64px;
  text-align: left;

  opacity: 0;

  animation: 0.7s showBox 9.5s ease forwards;

  /* z-index: 10; */
}

#content-text {
  opacity: 0;
  animation: 0.7s showBox 2s ease forwards,
    0.7s showBox 9s ease forwards reverse;
}

#dummy {
  opacity: 0;
  animation: dummyAnimation 15s ease forwards;
}

@keyframes showPhone {
  0% {
    transform: translateY(65%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dummyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#phone {
  height: 368px;
}

#rating-box {
  position: absolute;
  top: 100px;
  left: 0px;
  opacity: 0;
  transform: rotate(-9deg) scale(0.4);

  animation: 1s rating-box 4s ease forwards;
}

@keyframes rating-box {
  0% {
    opacity: 0;
    transform: rotate(-9deg) scale(0.4);
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: rotate(-9deg) scale(1);
    opacity: 1;
    top: 118px;
  }
}

#phone-container {
  position: absolute;
  width: 222px;
  height: 368px;
  right: 65px;

  transform: translateY(65%);

  animation: 0.7s showPhone 3s ease forwards;
}

@keyframes showPhone {
  0% {
    transform: translateY(65%);
  }
  100% {
    transform: translateY(-7%);
  }
}

.rc {
  width: 224.09px;
  padding: 6px 11px 12px 8px;
  background: #ffffff;
  box-shadow: 0px 6.63015px 17.3404px rgba(112, 144, 176, 0.26);
  border-radius: 13.22px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#rtng {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

#stars > img {
  width: 27px;
  height: 27px;
  margin-right: 3px;
}

#stars > img:last-child {
  margin-right: 0;
}

#strs-count {
  font-family: "Proxima Nova Condensed";
  font-size: 27.1px;
  font-weight: 600;
  line-height: 37.26px;
  text-align: left;
  color: #000000;
}

#votes-count {
  margin-top: 3px;
  font-family: "Proxima Nova Condensed";
  font-size: 12.3px;
  font-weight: 400;
  line-height: 14.05px;
  text-align: left;
  color: #0070ff;
}
