.container {
  position: relative;
  /* change width and height */
  width: 300px;
  height: 300px;
}
#age {
  position: absolute;
  /* change position */
  top: 20px;
  right: 20px;

  /* change font style */
  color: #fff;
  text-align: right;
  font-family: Proxima Nova Condensed;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#text-box {
  position: absolute;
  bottom: 7px;
  left: 25px;
  width: 255px;

  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 107.5%; /* 9.675px */
}
#logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 71px;
  left: 25px;
  width: 215px;
}

/* Работа в паре кликов */
.main-content-title {
  color: #fff;
  font-family: "Proxima Nova Condensed";
  font-size: 36.213px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 32.592px */

  margin-bottom: 12px;
}

.notification {
  background-color: #fff;
  border-radius: 10px;
}

.notification-content {
  padding: 9px;
  display: flex;
  align-items: center;
}

.notification-logo {
  display: flex;
}

.notification-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notification-header {
  display: flex;
  justify-content: space-between;
}

/* hh работа */
.notification-title {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter";
  font-size: 8.565px;
  font-style: normal;
  font-weight: 600;
  line-height: 11.28px; /* 131.698% */
  letter-spacing: -0.226px;
}

/* только что */
.notification-time {
  color: rgba(127, 127, 127, 0.5);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter";
  font-size: 7.495px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.28px; /* 150.512% */
}

/* Вас приглашают на вакансию */
.notification-desc {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter";
  font-size: 8.565px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.28px; /* 131.698% */
  letter-spacing: -0.226px;
}
