#logo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);

  z-index: 10;

  animation: 0.7s logoScale 1s ease forwards reverse,
    0.7s showBox 9s ease forwards reverse, 0.7s showBox 15.2s ease forwards,
    0.7s logoScale 15s ease forwards;
}

@keyframes logoScale {
  0% {
    top: 32px;
    left: 25px;
    width: 70px;
    height: 70px;
  }
  100% {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}

@keyframes showScreen {
  0% {
    width: 0;
    height: 0;
    border-radius: 0 0 100% 0;
  }
  50% {
    height: 100%;
  }

  99% {
    width: 100%;
    height: 100%;
  }

  100% {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d6001c;
  animation: 0.7s showScreen 1s ease forwards reverse,
    1s showScreen 15s ease forwards;
  z-index: 8;
}

#content-text {
  position: absolute;
  top: 30px;
  left: 120px;
  color: #fff;
  width: 306px;

  font-family: "Proxima Nova Condensed";
  font-size: 36px;
  font-weight: 700;
  line-height: 34.2px;
  text-align: left;

  z-index: 7;
}

#age {
  position: absolute;
  bottom: 7px;
  right: 14px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  text-align: right;

  /* z-index: 10; */
}
#disclaimer {
  position: absolute;
  top: 18px;
  left: 25px;
  width: 593px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 17px;
  font-weight: 400;
  line-height: 19.04px;
  text-align: left;

  opacity: 0;

  animation: 0.7s showBox 9.5s ease forwards;

  /* z-index: 10; */
}

#content-text {
  opacity: 0;
  animation: 0.7s showBox 2s ease forwards,
    0.7s showBox 9s ease forwards reverse;
}

#dummy {
  opacity: 0;
  animation: dummyAnimation 15s ease forwards;
}

@keyframes showPhone {
  0% {
    transform: translateY(65%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dummyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#phone {
  height: 261px;
}

#rating-box {
  position: absolute;
  top: 66px;
  left: 3px;
  opacity: 0;
  transform: rotate(-9deg) scale(0.4);

  animation: 1s rating-box 4s ease forwards,
    1s rating-box 8.5s ease forwards reverse;
}

@keyframes rating-box {
  0% {
    opacity: 0;
    transform: rotate(-9deg) scale(0.4);
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: rotate(-9deg) scale(1);
    opacity: 1;
    top: 85px;
  }
}

#phone-container {
  position: absolute;
  width: 111px;
  height: 261px;
  right: 90px;

  transform: translateY(65%);

  animation: 0.7s showPhone 3s ease forwards,
    0.7s showPhone 9s ease forwards reverse;
}

@keyframes showPhone {
  0% {
    transform: translateY(65%);
  }
  100% {
    transform: translateY(-7%);
  }
}

.rc {
  width: 146.09px;
  padding: 6px 9px 9px 8px;
  background: #ffffff;
  box-shadow: 0px 6.63015px 17.3404px rgba(112, 144, 176, 0.26);
  border-radius: 13.22px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#rtng {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

#stars > img {
  width: 19px;
  height: 19px;
  margin-right: 3px;
}

#stars > img:last-child {
  margin-right: 0;
}

#strs-count {
  font-family: "Proxima Nova Condensed";
  font-size: 20.17px;
  font-weight: 600;
  line-height: 27.74px;
  text-align: left;

  color: #000000;
}

#votes-count {
  margin-top: 3px;
  font-family: "Proxima Nova Condensed";
  font-size: 9.16px;
  font-weight: 400;
  line-height: 10.46px;
  text-align: left;

  color: #0070ff;
}
