#logo {
  position: absolute;
  width: 27px;
  height: 27px;

  bottom: 8px;
  right: 7px;
}
#question {
  position: absolute;
  top: 11px;
  left: 12px;
  color: #fff;

  width: 148px;

  font-family: "Proxima Nova Condensed";
  font-size: 15px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.01em;
  text-align: left;
}
#answer {
  position: absolute;
  top: 41px;
  left: 12px;
  color: #fff;

  width: 116px;

  font-family: "Proxima Nova Condensed";
  font-size: 15px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0.01em;
  text-align: left;
}
#shape {
  position: absolute;
  width: 189px;
  height: 218px;
}
#age {
  position: absolute;
  top: 11px;
  right: 10px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
  letter-spacing: 0.01em;
  text-align: right;
}
#disclaimer {
  position: absolute;
  bottom: 8px;
  left: 12px;
  width: 235px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 8px;
  font-weight: 400;
  line-height: 7px;
  letter-spacing: 0.01em;
  text-align: left;
}

#shape {
  animation: slideAndBounce 0.5s ease forwards,
    0.5s slideAndBounce 7s ease forwards reverse;
}
#question {
  opacity: 0;
  animation: 1s showBox 0.5s ease forwards,
    0.3s showBox 7s ease forwards reverse;
}
#answer {
  opacity: 0;
  animation: 0.5s showBox 1.5s ease forwards,
    0.3s showBox 7s ease forwards reverse;
}
#logo {
  opacity: 0;
  animation: 0.5s showBox 2.5s ease forwards,
    0.3s showBox 7s ease forwards reverse;
}
#dummy {
  opacity: 0;
  animation: dummyAnimation 7s ease forwards;
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideAndBounce {
  0% {
    transform-origin: top right;
    top: -218px;
    left: 100.38px;
  }
  100% {
    top: -113px;
    left: 0px;
  }
}

@keyframes dummyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
