.container {
  position: relative;
  width: 970px;
  height: 250px;
}
#logo {
  position: absolute;
  top: 35px;
  right: 40px;
}
.wrapper {
  width: 398px; /* Ширина прямоугольника */
  height: 214px; /* Высота прямоугольника */
  position: absolute;
  bottom: 17px;
  left: 32px;
}
#box-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}
#box-name {
  position: absolute;
  bottom: 16px;
  left: 53px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 1%;
  text-align: left;
}

#age {
  position: absolute;
  bottom: 44px;
  right: 40px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
#text-box {
  position: absolute;
  bottom: 24px;
  right: 80px;
  width: 333px;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25), 0 0 4px rgba(0, 0, 0, 0.25),
    0 1px 4px rgba(0, 0, 0, 0.25);

  font-family: "Proxima Nova Condensed";
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
}

#animated-box {
  position: absolute;
  top: 0;
  right: 0;
  animation: slideAndBounce 1s ease forwards,
    1s slideAndBounce 7s ease forwards reverse;
}

#box-text {
  opacity: 0;
  animation: 1s showBox 1s ease forwards,
    0.1s showBox 7.5s ease forwards reverse;
}

#box-name {
  opacity: 0;
  animation: 0.5s showBox 2s ease forwards,
    0.1s showBox 7.5s ease forwards reverse;
}


#dummy {
  animation: 0.5s showBox 8.5s ease forwards;
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideAndBounce {
  0% {
    transform-origin: top right;
    width: 0%;
    height: 0%;
  }
  60% {
    width: 105%;
    height: 105%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
