.container {
  position: relative;
  /* change width and height */
  width: 320px;
  height: 480px;
}
#age {
  position: absolute;
  /* change position */
  top: 20px;
  right: 20px;

  /* change font style */
  color: #fff;
  text-align: right;
  font-family: Proxima Nova Condensed;
  font-size: 14.933px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#text-box {
  position: absolute;
  bottom: 7px;
  left: 32px;
  width: 255px;

  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 8.533px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 8.533px */
}
#logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 76px;
  left: 32px;
  width: 255px;
}

/* Работа в паре кликов */
.main-content-title {
  color: #fff;
  font-family: "Proxima Nova Condensed";
  font-size: 43.508px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 39.158px */
  margin-bottom: 18px;
}

.notification {
  background-color: #fff;
  border-radius: 10px;
}

.notification-content {
  padding: 9px;
  display: flex;
  align-items: center;
}

.notification-logo {
  display: flex;
}

.notification-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notification-header {
  display: flex;
  justify-content: space-between;
}

/* hh работа */
.notification-title {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter";
  font-size: 10.278px;
  font-style: normal;
  font-weight: 600;
  line-height: 13.536px; /* 131.698% */
  letter-spacing: -0.271px;
}

/* только что */
.notification-time {
  font-family: "Inter";
  color: rgba(127, 127, 127, 0.5);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 8.993px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.536px; /* 150.512% */
}

/* Вас приглашают на вакансию */
.notification-desc {
  font-family: "Inter";
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 10.278px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.536px; /* 131.698% */
  letter-spacing: -0.271px;
}
