.container {
  position: relative;
  /* change width and height */
  width: 300px;
  height: 250px;
}
#age {
  position: absolute;
  /* change position */
  top: 20px;
  right: 20px;

  /* change font style */
  color: #FFF;
  text-align: right;
  font-family: "Proxima Nova Condensed";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#text-box {
  position: absolute;
  bottom: 4px;
  left: 25px;
  width: 255px;

  color: #FFF;

  font-family: "Proxima Nova Condensed";
  font-size: 8.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 8.5px */
}
#logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 60px;
  left: 25px;
  width: 190px;
}

/* Работа в паре кликов */
.main-content-title {
  color: #fff;
  font-family: "Proxima Nova Condensed";
  font-size: 32.006px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 28.805px */
  margin-bottom: 13px;
}

.notification {
  background-color: #fff;
  border-radius: 10px;
}

.notification-content {
  padding: 9px;
  display: flex;
  align-items: center;
}

.notification-logo {
  display: flex;
}

.notification-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notification-header {
  display: flex;
  justify-content: space-between;
}

/* hh работа */
.notification-title {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Inter";
  font-size: 7.57px;
  font-style: normal;
  font-weight: 600;
  line-height: 9.97px; /* 131.698% */
  letter-spacing: -0.199px;
}

/* только что */
.notification-time {
  font-family: "Inter";
  color: rgba(127, 127, 127, 0.5);
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 6.624px;
  font-style: normal;
  font-weight: 400;
  line-height: 9.97px; /* 150.512% */
}

/* Вас приглашают на вакансию */
.notification-desc {
  font-family: "Inter";
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 7.57px;
  font-style: normal;
  font-weight: 400;
  line-height: 9.97px; /* 131.698% */
  letter-spacing: -0.199px;
}
