* {
  text-decoration: none;
}

body {
  margin: 0;
}

#redBox {
  position: relative;
  background-color: #d6001c;
  width: 270px;
  height: 323px;

  border-radius: 15px 15px 15px 0;

  top: 139px;
  left: 15px;
  right: 15px;
}

#logo,
#content-title,
#content-text,
#age,
#disclaimer {
  color: #fff;
  position: absolute;
  font-family: "Proxima Nova Condensed";

  opacity: 0;
  animation: showBox 1s ease forwards;
}

#logo {
  width: 65px;
  height: 65px;

  top: 21px;
  left: 16px;
}

#content-title {
  width: 250px;

  top: 102px;
  left: 29px;

  font-size: 38px;
  font-weight: 700;
  line-height: 37.62px;
  text-align: left;
}

#content-text {
  width: 196px;

  top: 192px;
  left: 29px;

  font-size: 21px;
  font-weight: 400;
  line-height: 20.79px;
  text-align: left;
}

#age {
  bottom: 39px;
  left: 29px;

  font-size: 15px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

#disclaimer {
  width: 211.25px;

  bottom: 13px;
  left: 47px;

  font-size: 7.5px;
  font-weight: 400;
  line-height: 8.4px;
  text-align: left;
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#dummy {
  opacity: 0;
  animation: dummyAnimation 15s ease forwards;
}

@keyframes dummyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
