#logo {
  position: absolute;
  width: 136.76px;
  height: 136.76px;
  top: calc(50% - 68.38px);
  left: calc(50% - 68.38px);

  z-index: 10;

  animation: 0.7s logoScale 1s ease forwards reverse,
    0.7s logoScale 15s ease forwards;
}

@keyframes logoScale {
  0% {
    top: 64px;
    left: 30px;
    width: 52px;
    height: 52px;
  }
  100% {
    width: 136.76px;
    height: 136.76px;
    top: calc(50% - 68.38px);
    left: calc(50% - 68.38px);
  }
}

@keyframes showScreen {
  0% {
    width: 0;
    height: 0;
    border-radius: 0 0 100% 0;
  }
  50% {
    width: 100%;
  }

  99% {
    width: 100%;
    height: 100%;
  }

  100% {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d6001c;
  animation: 0.7s showScreen 1s ease forwards reverse,
    1s showScreen 15s ease forwards;
  z-index: 8;
}

#content-text {
  position: absolute;
  top: 135px;
  left: 30px;
  color: #fff;
  /* width: 523px; */

  font-family: "Proxima Nova Condensed";
  font-size: 36px;
  font-weight: 700;
  line-height: 34.2px;
  text-align: left;

  z-index: 7;
}

#age {
  position: absolute;
  bottom: 19px;
  left: 30px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 13px;
  font-weight: 400;
  line-height: 15.83px;
  text-align: right;

  /* z-index: 10; */
}
#disclaimer {
  position: absolute;
  bottom: 11px;
  left: 46px;
  width: 235px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 7px;
  font-weight: 400;
  line-height: 8.53px;
  text-align: left;

  z-index: 1;
}

#content-text {
  opacity: 0;
  animation: 0.7s showBox 2s ease forwards;
}

#dummy {
  opacity: 0;
  animation: dummyAnimation 15s ease forwards;
}

@keyframes showPhone {
  0% {
    transform: translateY(65%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dummyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#phone {
  height: 430px;
}

#rating-box {
  position: absolute;
  top: 130px;
  right: -35px;
  opacity: 0;
  transform: rotate(-9deg) scale(0.4);

  animation: 1s rating-box 4s ease forwards;
}

@keyframes rating-box {
  0% {
    opacity: 0;
    transform: rotate(-9deg) scale(0.4);
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: rotate(-9deg) scale(1);
    opacity: 1;
    top: 157px;
  }
}

#phone-container {
  position: relative;
  width: 228px;
  height: 430px;
  right: -15px;
  bottom: -220px;

  transform: translateY(85%);

  animation: 0.7s showPhone 3s ease forwards;
}

@keyframes showPhone {
  0% {
    transform: translateY(85%);
  }
  100% {
    transform: translateY(0);
  }
}

.rc {
  width: 253.56px;
  padding: 10px 0px 12px 0px;
  background: #ffffff;
  box-shadow: 0px 6.63015px 17.3404px rgba(112, 144, 176, 0.26);
  border-radius: 19.95px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#rtng {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

#stars > img {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}

#stars > img:last-child {
  margin-right: 0;
}

#strs-count {
  font-family: "Proxima Nova Condensed";
  font-weight: 600;
  font-size: 30.66px;
  line-height: 42.2px;
  color: black;
}

#votes-count {
  margin-top: 3px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 13.92px;
  line-height: 15.9px;
  color: #0070ff;
}

.plane {
  background: #d6001c;
  width: 100%;
  height: 40px;

  position: absolute;
  bottom: 0px;
  z-index: 0;
}

.gradient {
  position: absolute;
  background: linear-gradient(360deg, #d6001c 0%, rgba(214, 0, 28, 0) 100%);
  width: 100%;
  height: 123px;
  bottom: 40px;
  z-index: 0;
}
