.container {
  position: relative;
  width: 300px;
  height: 250px;
}
#age {
  position: absolute;
  bottom: 65px;
  left: 24px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}
#text-box {
  position: absolute;
  bottom: 44px;
  left: 48px;
  width: 222px;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25), 0 0 4px rgba(0, 0, 0, 0.25),
    0 1px 4px rgba(0, 0, 0, 0.25);

  font-family: "Proxima Nova Condensed";
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}
#logo {
  position: absolute;
  top: 26px;
  left: 26px;
}
#box-name {
  position: absolute;
  bottom: 17px;
  left: 29px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}
#box-text {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #fff;
}

.wrapper {
  width: 218.98px; /* Ширина прямоугольника */
  height: 94.72px; /* Высота прямоугольника */
  position: absolute;
  bottom: 26px;
  left: 22px;
}

#animated-box {
  position: absolute;
  top: 0;
  right: 0;
  animation: slideAndBounce 1s ease forwards,
    1s slideAndBounce 4s ease forwards reverse;
}

#box-text {
  opacity: 0;
  animation: 1s showBox 1s ease forwards,
    0.1s showBox 4.5s ease forwards reverse;
}

#box-name {
  opacity: 0;
  animation: 0.5s showBox 1.5s ease forwards,
    0.1s showBox 4.5s ease forwards reverse;
}

#text-box, #age {
  opacity: 0;
  animation: 0.5s showBox 5.2s ease forwards;
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideAndBounce {
  0% {
    transform-origin: top right;
    width: 0%;
    height: 0%;
  }
  60% {
    width: 105%;
    height: 105%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
