#logo {
  position: absolute;
  width: 76px;
  height: 76px;

  bottom: 25px;
  right: 29px;
}
#question {
  position: absolute;
  top: 20px;
  left: 23px;
  color: #fff;

  width: 422px;

  font-family: Proxima Nova Condensed;
  font-size: 34px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-align: left;
}
#answer {
  position: absolute;
  top: 88px;
  left: 23px;
  color: #fff;

  width: 307px;

  font-family: "Proxima Nova Condensed";
  font-size: 34px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-align: left;
}
#shape {
  position: absolute;
  width: 447px;
  height: 457px;
}
#age {
  position: absolute;
  bottom: 16px;
  left: 23px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
}
#disclaimer {
  position: absolute;
  bottom: 15px;
  left: 61px;
  width: 407px;
  color: #fff;

  font-family: "Proxima Nova Condensed";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}

#shape {
  animation: slideAndBounce 0.5s ease forwards,
    0.5s slideAndBounce 7s ease forwards reverse;
}
#question {
  opacity: 0;
  animation: 1s showBox 0.5s ease forwards,
    0.3s showBox 7s ease forwards reverse;
}
#answer {
  opacity: 0;
  animation: 0.5s showBox 1.5s ease forwards,
    0.3s showBox 7s ease forwards reverse;
}
#logo {
  opacity: 0;
  animation: 0.5s showBox 2.5s ease forwards,
    0.3s showBox 7s ease forwards reverse;
}
#dummy {
  opacity: 0;
  animation: dummyAnimation 7s ease forwards;
}

@keyframes showBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideAndBounce {
  0% {
    transform-origin: top right;
    top: -457px;
    left: 100.38px;
  }
  100% {
    top: -254px;
    left: -2px;
  }
}

@keyframes dummyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
