body {
  margin: 0;
}

a {
  text-decoration: none;
}

span,
p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Proxima Nova Condensed";
}

.container {
  position: relative;
  width: 336px;
  height: 280px;
  background-color: #d6001c;
  overflow: hidden;
}

.text {
  width: 187px;
  position: absolute;
  top: 67px;
  left: 19px;
}

.text span {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%; /* 34.2px */
}

.info {
  width: 259px;
  position: absolute;

  top: 72px;
  left: 19px;
}

.info p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#age {
  top: 11px;
  right: 14px;
  position: absolute;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#logo {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 18px;
  left: 18px;
}

#card {
  opacity: 0;
  position: absolute;
  left: 12px;
  margin: 0 auto;
  right: 0;
  top: 106.6px;
}

.animation-container {
  position: absolute;
  left: 183px;
  top: 36px;
  width: 170.74px;
  height: 351px;
}

@keyframes scrollTop {
  0% {
    transform: translateY(0%);
  }

  20%,
  80% {
    transform: translateY(-18%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes scaleCard {
  0% {
    opacity: 1;
    transform: scale(100%);
  }

  10%,
  70% {
    opacity: 1;
    transform: scale(142%);
  }

  80% {
    opacity: 1;
    transform: scale(100%);
  }

  100% {
    opacity: 0;
    transform: scale(100%);
  }
}

@keyframes brightness {
  0% {
    filter: brightness(100%);
  }

  20%,
  80% {
    filter: brightness(80%);
  }

  100% {
    filter: brightness(100%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  20%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes opacityPhone {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.vac1 {
  transform: translateY(0%);
}

#bg {
  animation-duration: 7s;

  animation-name: brightness;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#card {
  animation-duration: 7s;
  animation-name: scaleCard;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.text {
  opacity: 0;
  animation-duration: 7s;

  animation-name: opacity;
  animation-fill-mode: forwards;
}
